<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name,class:"label-for" %>
    <%= form.text_field :name, id: :employee_name,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :designation,class:"label-for" %>
    <%= form.text_field :designation, id: :employee_designation,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reporting_manager,class:"label-for" %>
    <%= form.text_field :reporting_manager, id: :employee_reporting_manager,class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
