<p id="notice"><%= notice %></p>
<h1>Employees</h1>
<br>
<%= link_to 'Hierarchy View', view_path, :class => "btn btn-primary"  %>
<%= link_to '+ New Employee', new_employee_path, :class => "btn btn-primary"  %>
<br>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Reporting Manager</th>
    <th scope="col">Show</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <% index = 1%>
  <% @employees.each do |employee| %>
    <tr>
      <th scope="row"><%= index %></th>
      <td><%= employee.name %></td>
      <td><%= employee.designation %></td>
      <td><%= employee.reporting_manager %></td>
      <td><%= link_to 'Show', employee, :class => "btn btn-info"  %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee), :class => "btn btn-warning"  %></td>
      <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
    </tr>
    <% index+=1 %>
  <% end %>
  </tbody>
</table>


